<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257293823006-64iurpo9o520uhoqe02b2cfparf3r0cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257293823006-64iurpo9o520uhoqe02b2cfparf3r0cm</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhT6cjaVIEIlB9qcGEoTLSUj6undrlZw</string>
	<key>GCM_SENDER_ID</key>
	<string>257293823006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milies.milies</string>
	<key>PROJECT_ID</key>
	<string>milies</string>
	<key>STORAGE_BUCKET</key>
	<string>milies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257293823006:ios:18a7ead20ae637cf2f920f</string>
</dict>
</plist>